body{
    background: aqua;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.keys-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
}
.key{
    width: 5em;
    height: 5em;
    border: 2px solid black;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .6s;
}
.playing{
    transform: scale(1.1);
    background: black;
    color: white;
}
.title p{
    height: 10%;
    font-size: 4em;
    color:black;
    display: flex;
    justify-content: center;
}